<a href="https://colab.research.google.com/github/MalavikaKatta/Academic_Projects/blob/main/Computational%20Methods/Python_Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [ ]:
length=int(input('Enter the length of the rectangle in cm: '))
width=int(input('Enter the width of the rectangle in cm: '))
Area=length*width
print(f"Area of rectangle is: {Area}cm^2")

Enter the length of the rectangle in cm: 4
Enter the width of the rectangle in cm: 5
Area of rectangle is: 20cm^2

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [ ]:
number1=int(input('Enter number1: '))
number2=int(input('Enter number2: '))
number2=number2-number1
number1=number2+number1
number2=number1-number2
print('New number1: ',number1)
print('New number2: ',number2)

Enter number1: 15
Enter number2: 22
New number1:  22
New number2:  15

(3) Write a Python program to calculate the length of a string.

In [ ]:
string=input('Enter a string: ')
print(len(string))

Enter a string: Malavika is good.
17

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
string = input("Enter a string: ")
character_count = {}
for char in string:
   if char in character_count:
      character_count[char] += 1
   else:
      character_count[char] = 1
print(character_count)

def swap_items_around_middle(input_dict):
    keys = list(input_dict.keys())
    values = list(input_dict.values())
    middle_index = len(keys) // 2
    # Swap the first two items
    keys[0], keys[1] = keys[1], keys[0]
    values[0], values[1] = values[1], values[0]
    # Swap the last two items
    keys[-1], keys[-2] = keys[-2], keys[-1]
    values[-1], values[-2] = values[-2], values[-1]
    # Swap the items around the middle item
    if middle_index > 0 and middle_index < len(keys) - 1:
        keys[middle_index - 1], keys[middle_index + 1] = keys[middle_index + 1], keys[middle_index - 1]
        values[middle_index - 1], values[middle_index + 1] = values[middle_index + 1], values[middle_index - 1]
    output_dict = dict(zip(keys, values))
    return output_dict

print(swap_items_around_middle(character_count))

Enter a string: google.com
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}
{'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

(5) Write a Python program to sum all the items in a list.

In [ ]:
list=[1, 3, 5, 4, 56]
sum_of_list = sum(list)
print("Sum of all the elements in the given list is  ", sum_of_list)

Sum of all the elements in the given list is   69

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [ ]:
string='restart'
char = string[0]
string = string.replace(char, '$')
string = char + string[1:]
print(string)

resta$t

(7) Create a program that calculates the factorial of a number using a while loop.

In [ ]:
number = int(input("Enter a number: "))
factorial = 1
if number < 0:
    print("Please enter a valid number",)
elif number == 0:
    print("The factorial of 0 is 1.")
else:
    while number > 0:
        factorial *= number
        number -= 1
    print("The factorial is:", factorial)

Enter a number: 5
The factorial is: 120

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [ ]:
list = input("Enter a list of numbers separated by spaces: ")
input_list = [int(x) for x in list.split()]
even_list = [num for num in input_list if num % 2 == 0]
print("Even numbers in the input list:", even_list)

Enter a list of numbers separated by spaces: 21 22 23 24 25
Even numbers in the input list: [22, 24]

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [ ]:
a = int(input("Enter the Value for a: "))
b = int(input("Enter the Value for b: "))
S =3.14 * ((1 + (a/b))**3)
print("Result of S is: ",S)

Enter the Value for a: 6
Enter the Value for b: 3
Result of S is:  84.78

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
result = {}
result.update(dic1)
result.update(dic2)
result.update(dic3)
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [ ]:
tuple = (1,2,3,4,5)
print('The largest element in tuple is: ',max(tuple))
print('The smallest element in tuple is: ',min(tuple))

The largest element in tuple is:  5
The smallest element in tuple is:  1

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [ ]:
string = input("Enter a string: ")
character_count = {}
for char in string:
   if char in character_count:
      character_count[char] += 1
   else:
      character_count[char] = 1
print(character_count)

Enter a string: Malavika
{'M': 1, 'a': 3, 'l': 1, 'v': 1, 'i': 1, 'k': 1}

(13) Write a Python program to check whether an element exists within a tuple.

In [ ]:
tuple = (5,4,3,2,1)
element = int(input("Enter an element to check if it exists in the tuple: "))
if element in tuple:
    print(f"{element} exists in the tuple.")
else:
    print(f"{element} does not exist in the tuple.")

Enter an element to check if it exists in the tuple: 6
6 does not exist in the tuple.

(14) Write a Python program to find maximum and the minimum value in a set.

In [ ]:
set={1,3,5,6,7,9}
print(max(set))
print(min(set))

9
1

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [ ]:
# There are a total of 41 students and they can be divided into 6 groups at least when there is a maximum of 7 students in each group.
import random
student_list_fall_2023 = ['sb1826', 'lb0582', 'ab1820', 'sb1883', 'mb1296', 'sc1622', 'tc0469', 'ac1770', 'mc1453', 'ad1187', 'sd0926', 'sd1268', 'ag1609', 'sg1638', 'mg1299', 'vkk0022', 'bk0413', 'gk0257', 'am2807', 'gm0558', 'pm0658', 'am2346', 'rm1090', 'sm2364', 'sm2747', 'sm2343', 'vm0597', 'htn0086', 'sp2075', 'gp0306', 'lp0502', 'sr1508', 'vr0331', 'yr0180', 'as2819', 'ss2981', 'ns0756', 'mt0825', 'dt0463', 'su0137', 'dv0310']
random.shuffle(student_list_fall_2023)
groups = [student_list_fall_2023[i:i+6] for i in range(0, len(student_list_fall_2023), 6)]
if len(groups) < 5:
    groups[-1].extend(student_list_fall_2023[len(groups)*6:])
for i, group in enumerate(groups, start=1):
    print(f"Group {i}: {', '.join(group)}")

Group 1: mg1299, su0137, gp0306, sg1638, ag1609, yr0180
Group 2: sb1826, tc0469, sd0926, vkk0022, sp2075, rm1090
Group 3: pm0658, sr1508, mb1296, sm2747, gk0257, vm0597
Group 4: am2807, lb0582, sm2364, vr0331, dv0310, mt0825
Group 5: as2819, am2346, ns0756, sm2343, htn0086, lp0502
Group 6: ac1770, bk0413, ad1187, gm0558, sb1883, sd1268
Group 7: dt0463, ab1820, ss2981, mc1453, sc1622

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [ ]:
def find_duplicates(arr):
    count_dict = {}
    duplicates = []
    for num in arr:
        if num in count_dict:
            count_dict[num] += 1
        else:
            count_dict[num] = 1
    for num, count in count_dict.items():
        if count > 1:
            duplicates.append(num)
    if duplicates:
        return duplicates
    else:
        return -1

input_array_of_integers=list(map(int,input("Enter array of integers separted by space: ").split()))
result = find_duplicates(input_array_of_integers)
if result == -1:
    print("No duplicate elements found.")
else:
    print("Duplicate elements:", result)

Enter array of integers separted by space: 1 1 1 2 2 2 3 4 4 5  6 6 7
Duplicate elements: [1, 2, 4, 6]

(17) Write a Python program to select all the Sundays of a specified year.

In [ ]:
import datetime
current_date = datetime.date(year, 9, 14)
def find_sundays(year):
    sundays = []
    current_date = datetime.date(year, 9, 14)
    while current_date.year == year:
        if current_date.weekday() == 6:
            sundays.append(current_date)
        current_date += datetime.timedelta(days=1)
    return sundays
year = int(input("Enter the year: "))
sundays = find_sundays(year)
if sundays:
    print(f"Sundays in {year} after {current_date} are:")
    for sunday in sundays:
        print(sunday.strftime("%Y-%m-%d"))
else:
    print(f"No Sundays found in {year}.")

Enter the year: 2023
Sundays in 2023 after 2023-09-14 are:
2023-09-17
2023-09-24
2023-10-01
2023-10-08
2023-10-15
2023-10-22
2023-10-29
2023-11-05
2023-11-12
2023-11-19
2023-11-26
2023-12-03
2023-12-10
2023-12-17
2023-12-24
2023-12-31

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [ ]:
def factorial(num):
  f = 1
  if num < 0:
    print("Please enter a valid number",)
  elif num == 0:
    return 1
  else:
    while num > 0:
        f *= num
        num -= 1
    return f
number = int(input("Enter a number: "))
print(f"The factorial of {number} is:", factorial(number))

Enter a number: -3
Please enter a valid number
The factorial of -3 is: None

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [ ]:
def count_even_numbers(n):
    count = 0
    for i in range(1, n + 1):
        if i % 2 == 0:
            count += 1
        if i >= n:
            break
    return count
n = int(input("Enter a positive integer: "))
if n <= 0:
    print("It is invalid! Please enter a positive integer")
else:
    even_count = count_even_numbers(n)
    print(f"The count of even numbers from 1 to {n} is: {even_count}")

Enter a positive integer: 8
The count of even numbers from 1 to 8 is: 4

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [ ]:
input = 'Malavika scored 99 points'
vowels = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}
vowels_count = 0

for char in input:
    if char.isalpha() and char in vowels:
        vowels_count += 1

print("Number of vowels:", vowels_count)

Number of vowels: 8